/* Fonts */
@font-face {
    font-family: 'Source Code Pro';
    src: url(fonts/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: local('Ubuntu Regular'),local('Ubuntu-Regular'),
    url(fonts/Ubuntu/Ubuntu-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Light'),
    url(fonts/Lato/Lato-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --roxo-escuro: #1B182D;
    --roxo-medio:#2B2D42;
    --cor-linhas:#34364E;
    --branco-v: #FFF8F0;
    --roxo-principal: #C455FB;
}

body {
    background-color: var(--roxo-medio);
}

main {
    height: 100vh;
}
main header {
    background-color: var(--roxo-escuro);
    height: 120px;
    border-bottom: 4px solid var(--cor-linhas);
    
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 29px;
}

nav  button {
    width: 196px;
    height: 60px;

    font-size: 20px;
    font-family: 'Source Code Pro';
    font-weight: 400;
    color: var(--branco-v);

    background-color: transparent;
    border-radius: 10px;
    border: solid 1px var(--cor-linhas);

}

.container_grid {
    max-width: 1760px;
    width: 80vw;
    margin: 0 auto;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hello_world {
    width: 401px;
    height: 60px;
    background-color: var(--roxo-escuro);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background:  
    linear-gradient(#1B182D, #1B182D) padding-box,
    linear-gradient(-82deg, rgba(27,24,45,1) 0%, rgba(152,87,246,1) 100%) border-box
    ;
    border: 2px solid transparent;

    margin-top: 128px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hello_world p:nth-child(2){
    background: linear-gradient(90deg, rgba(81,139,219,1) 55%, rgba(152,87,246,1) 75%, rgba(196,85,251,1) 100%);
    /* Para ficar apenas na font*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hello_world p {
    font-family: 'Consolas';
    font-size: 20px;
    color: white;
}

h1 {
    font-size: 96px;
    font-family: 'Source Code Pro';
    color: var(--branco-v);
    font-weight: 500;
}

h2 {
    font-size: 48px;
    font-family: 'Source Code Pro';
    color: var(--branco-v);
    font-weight: 400;
}

h3 {
    font-size: 32px;
    font-family: 'Consolas';
    color: var(--branco-v);
    font-weight: 400;
}

p {
    font-size: 18px;
    font-family: 'Ubuntu', 'Open Sans','Inter';
    color: var(--branco-v);
}

a {
    text-decoration-line: none;
    color: var(--branco-v);
    font-size: 18px;
    font-family: 'Ubuntu', 'Open Sans','Inter';
    color: var(--branco-v);
}

.line_gradient {
    width: 1121px;
    height: 5px;
    background: rgb(152,87,246);
    background: linear-gradient(90deg, rgba(152,87,246,1) 0%, rgba(81,139,219,1) 100%);
    border-radius: 100px;
}

#my_name {
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#my_name div {
    display: flex;
    flex-direction: column;
}

#skills {
    height: 413px;
    background-color: var(--roxo-escuro);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skills h2 {
    font-size: 40px;
}

.icons_bg {
    background-color: var(--roxo-medio);
    height: 140px;

    margin-top: 20px;
    padding: 0 50px;
    /* Talvez alterar para 3px*/
    box-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.05), 
    0px 4px 4px rgba(0, 0, 0, 0.05), 
    0px 4px 4px rgba(0, 0, 0, 0.05), 
    0px 4px 4px rgba(0, 0, 0, 0.05), 
    0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    background: linear-gradient(#34364E, #34364E) padding-box,
    linear-gradient(-90deg, rgba(152,87,246,1) 0%, rgba(81,139,219,1) 100%) border-box
    ;
    border: 2px solid transparent;
    border-width: 2px;
    border-style: solid;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    gap: 70px;
}

i {
    font-size: 102px;
    color: var(--branco-v);
}

#about {
    height: 100vh;

    background-color: var(--roxo-medio);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 560px;
    height: 328px;
    line-height: 1.3;
}

.text p {
    margin-bottom: 10px;
}

.bg_retangle {
    width: 50%;
    /* Precisa ajustar para telas menores */
    height: 78%;

    display: flex;
    justify-content: center;
}

.bg_retangle .retangle_2 {
    display: flex;
    align-self: flex-end;
}

.retangle_1, .retangle_2 {
    width: 317.54px;
    height: 317.54px;

    border-radius: 10px;
    
    background: linear-gradient(#2B2D42, #2B2D42) padding-box,
    linear-gradient(-90deg, rgba(152,87,246,1) 0%, rgba(81,139,219,1) 100%) border-box;
    border: 2px solid transparent;
    border-width: 2px;
    border-style: solid;
}

.retangle_1 img {
    position: relative;
    width: 317.54px;
    height: 317.54px;

    border-radius: 10px;

    left: -16px;
    bottom: -22px;
    
}

.retangle_2 img {
    position: relative;
    width: 317.54px;
    height: 317.54px;

    border-radius: 10px;

    left: 16px;
    top: 22px;
}

#portfolio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1160px;
    background-color: var(--roxo-escuro);
       
    border-width: 2px;
    border-style: solid;
    background:  
    linear-gradient(#1B182D, #1B182D) padding-box,
    linear-gradient(-45deg, rgba(27,24,45,1) 0%, rgba(152,87,246,1) 100%) border-box
    ;
    border: 2px solid transparent;
    border-radius: 25px;

    padding: 30px;
}

.tab_box {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    /* Depois substituir por : 
    
    */
    /* border-bottom: 2px solid #4D5071; */
}

.line_div {
    height: 2px;
    width:100%;
    background: linear-gradient(90deg, rgba(77,80,113,0) 0%, rgba(77,80,113,1) 20%, rgba(77,80,113,1) 40%, rgba(77,80,113,1) 60%, rgba(77,80,113,1) 80%, rgba(77,80,113,0) 100%);
}

.tab_box .tab_btn {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 600;
    color: var(--branco-v);
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}

.tab_box .tab_btn.active {
    color: #BE90FF;
}

.content_box {
    padding: 20px;
}

.content_box .content {
    display: none;
    animation: moving .5s ease;
}
@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}

.content_box .content.active{
    display: block;
}

.content_box .content h2 {
    margin-bottom: 10px;
    font-size: 32px;
}

.line {
    position: absolute;
    top: 56.5px;
    left: 122px;
    width: 108px;
    height: 5px;
    /* background-color: #fff; */
    background: linear-gradient(90deg, rgba(152,87,246,0) 0%, rgba(152,87,246,1) 25%, rgba(81,139,219,1) 75%, rgba(81,139,219,0) 100%);
    transition: all .3s ease-in-out;
}

.content_img {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.border {
    position: relative;
    width: 333px;
    height: 334px;

    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    background:  
    linear-gradient(rgba(52, 54, 78, 1), rgba(52, 54, 78, 1)) padding-box,
    linear-gradient(-45deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%) border-box,
    linear-gradient(95deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%) border-box,
    linear-gradient(rgba(52,54,78,1) 0%, rgba(52,54,78,1) 100%)border-box
    ;
    border: 2px solid transparent;
}

.border img {
    position: absolute;
    width: 333px;
    height: 334px;  
    left: -2px;
    top: -1px;

    padding: 3px;
    border-radius: 10px;
}

#contact {
    background: var(--roxo-escuro);
}


#contact .container_grid {
    display: flex;
    justify-content: space-between;
    padding: 175px 0;
}

#contact h2 {
    font-family: 'Lato';
    font-weight: 300;
}

.info {
    width: 575px;
    height: 746px;

    border: white solid 2px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.info span {
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    gap: 28px;
    
    margin-bottom: 40px;
}

.info .bg_retangle {
    width: unset;
    height: unset;
}

.info .retangle_1, .info .retangle_1 img{
    width: 182px;
    height: 182px;
}


.info h3 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 24px;
}

.info .line_gradient {
    width: 70%;

    display: flex;
}

.info .social_git svg {
    margin-right: 32px;
}

form {
    width: 781px;
    border-radius: 25px;

    color: var(--branco-v);
    font-family: 'Lato';
    font-size: 20px;

    border-width: 2px;
    border-style: solid;
    background:  
    linear-gradient(#1B182D, #1B182D) padding-box,
    linear-gradient(-45deg, rgba(27,24,45,1) 0%, rgba(152,87,246,1) 100%) border-box
    ;
    border: 2px solid transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 59px 0;
}

form h2 {
    font-size: 36px;
}

form > div {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.field, textarea {
    display: flex;
    flex-direction: column;

}

.field label, .field_description label {
    text-indent: 13px;
    margin-bottom: 7px;
}

.field input {
    width: 100%;
    height: 53px;
    background-color: var(--roxo-medio);
}

textarea {
    width: 100%;
    resize: none;
    background-color: var(--roxo-medio);
    padding: 10px 0;
    /* Necessário porque o margin-bottom no label não estava funcionando */
    margin-top: 7px;
}

.field input, textarea{
    color: var(--branco-v);
    font-family: 'Ubuntu Regular';
    font-weight: 300;
    font-size: 17px;
    text-indent: 13px;

    margin-bottom: 33px;
    border-radius: 10px;
    border: none;
}

/* Pesquisar como animar*/
.field input:focus, textarea:focus{
    outline: none;
    
    background:    linear-gradient(
        to left, 
        rgba(196,85,251,1) 0%,
        rgba(81,139,219,1) 100%
      )
      left 
      bottom
      #2B2D42    
      no-repeat; 
    background-size:100% 5px ;

    animation: moving 5.s ease;
}

.confirm_form {
    display: flex;
    align-self: flex-start;
    margin-bottom: 29px;
}

form button {
    height: 61px;
    width: 316px;

    background-color: transparent;
    border: solid 2px var(--roxo-principal);
    border-radius: 10px;
    
    color: var(--branco-v);
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-size: 24px;
}

footer {
    background-color: var(--roxo-medio);
    padding: 20px 0;

    border-top: 1px solid var(--cor-linhas);
}

footer h3 {
    color: var(--roxo-principal);
}

footer .container_grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span:nth-child(1){
    display: flex;
    gap: 35px;
    align-items: center;
}

footer .container_grid span{
    display: flex;
    justify-content: flex-end;
    color: yellowgreen;
}