/* Fonts */
@font-face {
    font-family: 'Source Code Pro';
    src: url(fonts/SourceCodePro-VariableFont_wght.ttf);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --roxo-escuro: #1B182D;
    --roxo-medio:#2B2D42;
    --cor-linhas:#34364E;
    --branco-v: #FFF8F0;
}

body {
    background-color: var(--roxo-medio);
}

main {
    height: 100vh;
}
main header {
    background-color: var(--roxo-escuro);
    height: 120px;
    border-bottom: 4px solid var(--cor-linhas);
    
    display: flex;
    align-items: center;
}

.container_grid {
    max-width: 1760px;
    width: 80vw;
    margin: 0 auto;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hello_world {
    width: 401px;
    height: 60px;
    background-color: var(--roxo-escuro);
    border-radius: 10px;

    margin-top: 128px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hello_world p:nth-child(2){
    background: linear-gradient(90deg, rgba(81,139,219,1) 55%, rgba(152,87,246,1) 75%, rgba(196,85,251,1) 100%);
    /* Para ficar apenas na font*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hello_world p {
    font-family: 'Consolas';
    font-size: 20px;
    color: white;
}

h1 {
    font-size: 96px;
    font-family: 'Source Code Pro';
    color: var(--branco-v);
    font-weight: 500;
}

h2 {
    font-size: 48px;
    font-family: 'Source Code Pro';
    color: var(--branco-v);
    font-weight: 500;
}

#line {
    width: 1121px;
    height: 5px;
    background: rgb(152,87,246);
    background: linear-gradient(90deg, rgba(152,87,246,1) 0%, rgba(81,139,219,1) 100%);
    border-radius: 100px;
}

#my_name {
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#my_name div {
    display: flex;
    flex-direction: column;
}

#skills {
    height: 413px;
    background-color: var(--roxo-escuro);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#skills h2 {
    font-size: 40px;
}

.icons {
    background-color: #fff;
    width: 1540px;
    height: 140px;
}